@model SoftCRP.Web.Models.DashboardViewModel

@{
    ViewData["Title"] = "Home";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Cliente"))
{
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@Model.VehiculosClientesViewModel.Count()</h3>

                    <p>Flota</p>
                </div>
                <div class="icon">
                    <i class="fa fa-car"></i>
                </div>
                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
                <a asp-area="" class="small-box-footer" asp-controller="Informacion" asp-action="Index">                    
                    Mas Información <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@Model.Tramite</h3>

                    <p>Trámites Subidos</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a asp-area="" class="small-box-footer" asp-controller="Tramites" asp-action="Index">
                    Mas Información <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@Model.novedad</h3>

                    <p>Novedades sin solución</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a asp-area="" class="small-box-footer" asp-controller="Novedades" asp-action="Index">
                    Mas Información <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@Model.Capacitaciones</h3>

                    <p>Capacitaciones</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a asp-area="" class="small-box-footer" asp-controller="Capacitaciones" asp-action="Index">
                    Mas Información <i class="fas fa-arrow-circle-right"></i>
                </a>

            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
}