@model SoftCRP.Web.Data.Entities.TipoNovedades

@{
    ViewData["Title"] = "Details";
}


<div align="left">
    <div align="left" class="col-md-6">
        <div class="card card-info">
            <div class="card-header" style="background-color:#F2AE0B; color:#ffffff;">
                <h2 class="card-title" style="font-style:oblique"><strong>DETALLES TIPO NOVEDADES</strong></h2>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Tipo):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tipo)
                    </dd>
                </dl>
            </div>


            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model.Id" style="background-color:#002D73; color:#ffffff;" class="btn btn"><i class="fa fa-edit">&nbsp;</i>Editar</a>
                <a asp-action="Index" style="background-color:#F2AE0B; color:#ffffff;" class="btn btn"><i class="fas fa-angle-double-left">&nbsp;</i>Regresar</a>
            </div>
        </div>
    </div>
</div>
