@model SoftCRP.Web.Data.Entities.History

@{
    ViewData["Title"] = "Actualiza Historial";
}


<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label asp-for="Placa" class="control-label"></label>
            <input asp-for="Placa" class="form-control" id="placa" disabled />
            <span asp-validation-for="Placa" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Desde"></label>
            <input asp-for="Desde" class="form-control" id="desde" />
            <span asp-validation-for="Desde" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Hasta"></label>
            <input asp-for="Hasta" class="form-control" id="hasta" />
            <span asp-validation-for="Hasta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="isActive"></label>
            <input asp-for="isActive" class="form-control" id="isActive" />
            <span asp-validation-for="isActive" class="text-danger"></span>
        </div>
        @*<button type="submit" value="Save" style="background-color:#002D73; color:#ffffff;" class="btn btn"><i class="fa fa-save">&nbsp;</i>Guardar</button>*@
        <button id="btnadd" class="btn btn-success">Guardar</button>
    </form>
</div>



<script type="text/javascript">

        $(function () {

        $("#btnadd").click(function (e) {
            e.preventDefault();
            //// Mostramos el Ajax Loader
            //$("#AjaxLoader").show("fast");

            //// Deshabilitamos el botón de Submit
            //$("#btnsubmit").prop("disabled", true);
            $("#btnadd").prop("disabled", true);
            //$("#numeroobj").prop("disabled", true);
            if ($("#especialidades").val() == 0) {
                alert('Debes Colocar la especialidad');
                $("#btnadd").prop("disabled", false);
                return;
            }
            if ($("#FechaCita").val().trim() == "") {
                alert('Debes Colocar la fecha de la cita');
                $("#btnadd").prop("disabled", false);
                return;
            }
            $.ajax({
                url: "@Url.Action("GuardaCita", "Afiliados")", // Url
                data: {
                    // Datos / Parámetros
                    Afiliado: $("#afiliado").val(),
                    HC: $("#HC").val(),
                    MedicoId: $("#medicos").val(),
                    EspecialidadId: $("#especialidades").val(),
                    FechaCita: $("#FechaCita").val(),
                    HoraId: $("#HoraId").val(),
                    MinutosId: $("#MinutosId").val(),
                },
                type: "post",  // Verbo HTTP

                success: function (cita) {
                    console.log(cita);
                    if (cita.status == "OK") {
                        $("#myModal").modal('hide');
                        alert('Cita Guardada con exito, Continuar con la Calificación');
                        window.location.href = '/Afiliados/EditCita/' + cita.description;
                    }
                    else {
                        alert(cita.description);
                        $("#myModal").modal('hide');
                    }
                }

            })


            //fin
        })
    })

</script>