@model SoftCRP.Web.Models.NovedadesCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<div align="left">
    <div align="left" class="col-md-6">
        <div class="card card-info">
            <div class="card-header" style="background-color:#F2AE0B; color:#ffffff;">
                <h2 class="card-title" style="font-style:oblique"><b>CREAR ANÁLISIS CLIENTE - @Model.cedula</b></h2>
            </div>

            <form id="PlanForm" method="post" action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
            <label asp-for="Placa" class="control-label"></label>
            <input asp-for="Placa" class="form-control" />
            <span asp-validation-for="Placa" class="text-danger"></span>
        </div>*@
                    @*<div class="form-group">
            <label asp-for="Fecha" class="control-label"></label>
            <input asp-for="Fecha" class="form-control" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>*@

                    <input type="hidden" asp-for="cedula" />

                    <div class="form-group">
                        <label asp-for="PlacaId" class="control-label"></label>
                        <select asp-for="PlacaId" asp-items="Model.Placas" class="form-control" id="Placasobj"></select>
                        <span asp-validation-for="PlacaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MotivoId" class="control-label"></label>
                        <select asp-for="MotivoId" asp-items="Model.MotivoTypes" class="form-control" id="Motivoobj"></select>
                        <span asp-validation-for="MotivoId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SubMotivoId" class="control-label"></label>
                        <select asp-for="SubMotivoId" asp-items="Model.SubMotivoTypes" class="form-control" id="SubMotivoobj"></select>
                        <span asp-validation-for="SubMotivoId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ViaIngresoId" class="control-label"></label>
                        <select asp-for="ViaIngresoId" asp-items="Model.ViaIngresoTypes" class="form-control" id="Viaobj"></select>
                        <span asp-validation-for="ViaIngresoId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Observaciones" class="control-label"></label>
                        <textarea asp-for="Observaciones" class="form-control" id="Obsobj"></textarea>
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>

                </div>
                <div class="card-footer">

                    <button type="submit" id="btnsubmit" value="Create" style="background-color:#002D73; color:#ffffff;" class="btn btn"><i class="fa fa-save">&nbsp;</i>Crear</button>
                    <a asp-action="Retorno" asp-route-id="@Model.cedula" style="background-color:#F2AE0B; color:#ffffff;" class="btn btn"><i class="fas fa-angle-double-left">&nbsp;</i>Regresar</a>

                </div>
            </form>
        </div>
    </div>
</div>

<div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        @Html.Raw(ViewBag.SweetAlertShowMessage)
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                var placas = $('#Placasobj').val();
                var Motivo = $('#Motivoobj').val();
                var SubMotivo = $('#SubMotivoobj').val();
                var Via = $('#Viaobj').val();
                var Obs = $('#Obsobj').val();
                var formu = $('#PlanForm').serialize();

                var viewModel = {
                    "Cedula":@Model.cedula,
                    "PlacaId": placas,
                    "MotivoId": Motivo,
                    "SubMotivoId": SubMotivo,
                    "ViaIngresoId": Via,
                    "Observaciones": Obs
                };
                swal({
                        title: "Estan los datos correctos?",
                        text: "Recuerde que al crearlo se enviran correos al cliente!!",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonClass: "btn-info",
                        confirmButtonText: "Yes, Crearlo!",
                        cancelButtonText: "No, Cancelar!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function (isConfirm) {

                        if (isConfirm) {

                                $.ajax({
                                type: 'post',
                                url: '/Novedades/Create',
                                //data: $('#PlanForm').serialize(),   //your form name.it takes all the values of model
                                data:viewModel,
                                dataType: 'json',
                                success: function (result, textStatus, jqXHR) {

                                    //swal(data.Cedula, 'success');
                                    //console.log(result.statusText);
                                    console.log(textStatus);
                                    if (result) {
                                        swal("Buen trabajo!","Registro Creado", "success");
                                        window.location.href = '/Novedades/Retorno/@Model.cedula';
                                    }
                                    else {
                                        swal('No se pudo crear','warning');
                                        return false;
                                    }
                                    },
                                error: function(jqXHR, textStatus, errorThrown) {
                                    //Do Stuff or Nothing
                                    swal("Error", jqXHR.statusText, "error");
                                    //window.location.href = '/Analisis/Retorno/@Model.cedula';
                                    return false;

                                    }
                                });


                            @*swal('Registro Creado', 'success');
                            window.location.href = '/Analisis/Retorno/@Model.cedula';
                            return false*@

                        } else {
                            swal("Cancelar", "Crear cancelado :)", "error");
                            return false
                        }

                    });

                    return false
            });

        });

    </script>


}
