@model SoftCRP.Web.Models.ArchivoCapacitacionesViewModel

@{
    ViewData["Title"] = "Create";
}
<div align="left">
    <div align="left" class="col-md-6">
        <div class="card card-info">
            <div class="card-header" style="background-color:#F2AE0B; color:#ffffff;">
                <h2 class="card-title" style="font-style:oblique"><strong>AGREGAR ARCHIVO</strong></h2>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div id="dropzone">
                        <form asp-action="AddFile1" class="dropzone needsclick dz-clickable" id="uploader">
                            <input type="hidden" asp-for="Id" /> 

                            <div class="fallback">
                                <input name="file" type="file" />
                            </div>
                        </form>
                    </div>
  

                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script  type="text/javascript">
            $(document).ready(function () {
                Dropzone.options.uploader = {
                    paramName: "file",
                    maxFilesize: 2000,
                    accept: function (file, done) {
                        if (file.name == "test.jpg") {
                            alert("Can't upload a test file.");
                        }
                        else {
                            //Show a confirm alert and display the image on the page.
                        }
                    }
                };
            });
    </script>

}