@model SoftCRP.Web.Models.UserRoleViewModel
@{
    ViewData["Title"] = "Editar Usuario";
}
    <div align="center">
        <div align="left" class="col-md-6">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Modificar Usuario</h3>
                </div>
                <form method="post" role="form">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>
                        @*<input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Roles" />
        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="SecurityStamp" />*@
                        @for (int j = 0; j < Model.Roles.Count; j++)
                        {
                            <input type="hidden" asp-for="Roles[j].Id" />
                            <input type="hidden" asp-for="Roles[j].Name" />
                        }

                        <div class="form-group">
                            <label asp-for="Cedula">Cédula</label>
                            <input asp-for="Cedula" class="form-control" />
                            <span asp-validation-for="Cedula" class="text-warning"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FirstName">Nombre</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-warning"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName">Apellido</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-warning"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-warning"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber">Número telefónico</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                        </div>


                        <h3 style="font-style:oblique">Roles</h3>
                        <hr />
                        <div class="row">
                            @if (Model.Roles.Count > 0)
                            {
                                @for (int i = 0; i < Model.Roles.Count; i++)
                                {
                                    <div class="form-check m-1">
                                        <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                                        <label class="form-check-label">
                                            @Model.Roles[i].Name
                                        </label>
                                    </div>
                                }
                            }
                            else
                            {
                                <h3>NO TIENE ROLES ASIGNADOS</h3>
                            }
                        </div>


                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Modificar" class="btn btn-success" id="editar" />
                        <a asp-action="Index" class="btn btn-info"><i class="fas fa-angle-double-left">&nbsp;</i>   Regresar</a>
                    </div>
                    <div class="text-success">@ViewBag.UserMessage</div>
                </form>
                    </div>
                </div>
            </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script type="text/javascript">
            @Html.Raw(ViewBag.SweetAlertShowMessage)
            </script>
        }


