@model SoftCRP.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recuperar Password";
}
    <div align="center">
        <div align="left" class="col-md-6">
            <div class="card card-danger">
                <div class="card-header" style="color:#ffffff; background-color:#F2AE0B">
                    <h2 class="card-title" style="font-style:oblique"><b>RECUPERAR CONTRASEÑA</b></h2>
                </div>

                <form method="post" role="form">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-envelope">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-warning"></span>
                            </div>
                        </div>
                        </div>
                    <div class="card-footer">
                        @*<input type="submit" value="Confirmar" class="btn btn-success" />*@
                        <button type="submit" class="btn btn" style="background-color:#002D73; color:#ffffff;"><i class="fa fa-check">&nbsp;</i>Confirmar</button>
                        <a asp-action="Login" style="background-color:#F2AE0B; color:#ffffff;" class="btn btn"><i class="fas fa-angle-double-left">&nbsp;</i>Regresar</a>
                    </div>
                </form>
                        <div class="text-success">
                            
                                @ViewBag.Message
                         
                        </div>
                    </div>
                </div>
            </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script type="text/javascript">
            @Html.Raw(ViewBag.SweetAlertShowMessage)
            </script>
        }

