@model SoftCRP.Web.Models.RegisterNewUserViewModel

@{
    ViewData["Title"] = "Registar Nuevo Usuario";
} 
    <div>
        <div align="center">
            <div align="left" class="col-md-6">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title" style="font-style:oblique"><b>REGISTRAR USUARIO</b></h3>

                    </div>



                <form method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>
                        @for (int j = 0; j < Model.Roles.Count; j++)
                        {
                            <input type="hidden" asp-for="Roles[j].Id" />
                            <input type="hidden" asp-for="Roles[j].Name" />
                        }
                        <div class="form-group">
                            <label asp-for="Cedula">Ruc/Cédula:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-id-card">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="Cedula" id="Cedula" class="form-control form-control-sm" />
                                <span asp-validation-for="Cedula" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="FirstName">Nombre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="FirstName" class="form-control form-control-sm" />
                                <span asp-validation-for="FirstName" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName">Apellido:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="LastName" class="form-control form-control-sm" />
                                <span asp-validation-for="LastName" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="FotoFile" class="control-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-upload">

                                        </i>
                                    </span>
                                </div>
                                <input asp-for="FotoFile" class="form-control" type="file" />
                                <span asp-validation-for="FotoFile" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email">Email:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-envelope">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="Email" class="form-control form-control-sm" />
                                <span asp-validation-for="Email" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber">Número telefónico:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-phone">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="PhoneNumber" class="form-control form-control-sm" />
                                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Username">Nombre de usuario:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user-circle">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="Username" class="form-control form-control-sm" />
                                <span asp-validation-for="Username" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password">Contraseña:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-key">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="Password" type="password" class="form-control form-control-sm" />
                                <span asp-validation-for="Password" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Confirm">Confirmar contraseña:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-key">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="Confirm" type="password" class="form-control form-control-sm" />
                                <span asp-validation-for="Confirm" class="text-warning"></span>
                            </div>
                        </div>
                        <h3 style="font-style:oblique"><b>Roles</b></h3>
                        <hr />
                        <div class="row">

                            @for (int i = 0; i < Model.Roles.Count; i++)
                            {
                                <div class="form-check m-1">
                                    <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                                    <label class="form-check-label">
                                        @Model.Roles[i].Name
                                    </label>
                                </div>
                            }

                        </div>

                    </div>

                        <div class="card-footer">
                            <input type="submit" value="Registar Nuevo Usuario" class="btn btn-success" />
                            <a asp-action="Index" class="btn btn-info"><i class="fas fa-angle-double-left">&nbsp;</i>Regresar a la Lista</a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
<script>
    function enviar() {
        var cedula = document.getElementById("Cedula").nodeValue;

        if (cedula == "") {
            alert("Ingresa el numero de Cedula");
            return;
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
            @Html.Raw(ViewBag.SweetAlertShowMessage)
    </script>
}
