@model SoftCRP.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Resetear Password";
}
    <div align="center">
        <div align="left" class="col-md-6">
            <div class="card card-danger">
                <div class="card-header" style="background-color:#F2AE0B; color:#ffffff;">
                    <h2 class="card-title" style="font-style:oblique"><b>RESETEAR CONTRASEÑA</b></h2>
                </div>
                <form method="post">
                    <div class="card-body">
                        <div asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="Token" />

                        <div class="form-group">
                            <label asp-for="UserName">Usuario:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user-circle">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password">Nueva contraseña:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-key">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-warning"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirmar contraseña:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-key">

                                        </i>
                                    </span>
                                </div>

                                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                            </div>
                        </div>


                        </div>
                    <div class="card-footer">
                        <button type="submit" value="Resetear" style="background-color:#002D73; color:#ffffff;" class="btn btn"><i class="fa fa-check">&nbsp;</i>Confirmar</button>
                    </div>
                    <div class="text-success">
                        
                            @ViewBag.Message
                 
                    </div>
                </form>
                        
                    </div>
                </div>
            </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script type="text/javascript">
            @Html.Raw(ViewBag.SweetAlertShowMessage)
            </script>
        }

